/* Style the main heading */
h1 {
    font-size: 200%;                                  /* Set the font size to 200% */
    color: blue;                                    /* Set the text color */
    text-align: center;                               /* Align the text to the center of the page */
    font-family: "Times New Roman", Times, serif;     /* Set the font to Times New Roman fonts */
    }


/* Style the paragraph */
p {
    font-size: 100%;                                 /* Set the font size to 100% */
    color: black;                                  /* Set the text color */
    text-align: justify;                             /* Justify the text */
    text-justify: inter-word;                        /* Adjust the spacing between words for better text justification */
    font-family: Arial, Helvetica, sans-serif;       /* Set the font to Arial */
    }

/* Style the important paragraph */
p.important {   
    border-style: solid;                             /* Set the border style to solid */
    display: inline-block;                           /* Display the paragraph as an inline block element */
    border-width: 5px;                               /* Set the border width to 5px */
    border-color: purple;                          /* Set the border color to purple */
    font-size: 100%;                                 /* Set the font size to 100% */
    }   


/* Center the image */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }


figcaption {
    caption-side: bottom;                            /* Position the caption at the bottom of the figure */
    text-align: center;                               /* Align the text to the center of the page */
    }